{% assign lang = page.lang | default: site.language %}
{% assign experiences = site.data.experience[lang] %}
{% assign skills = site.data.skills[lang] %}
{% assign publications = site.data.publications[lang] %}
{% assign projects = site.data.projects[lang] %}
{% assign about = site.data.about[lang] %}

<footer class="footer">
    <div class="text-center">

        {% if about %}
            <a href="#about">{% if lang == "pt" %}Sobre{% else %}About{% endif %}</a> |
        {% endif %}
        
        {% if skills %}
            <a href="#skills">{% if lang == "pt" %}Competências{% else %}Skills{% endif %}</a> |
        {% endif %}
        
        {% if experiences %}
            <a href="#experiences">{% if lang == "pt" %}Experiência{% else %}Experience{% endif %}</a>{% if projects %} |{% endif %}
        {% endif %}
        
        {% if projects %}
            <a href="#projects">{% if lang == "pt" %}Projetos{% else %}Projects{% endif %}</a>
        {% endif %}
        
        <small class="copyright">{{ site.data.footer }}</small>

    </div><!--//container-->
</footer><!--//footer-->
