{% assign lang = page.lang | default: site.language %}
{% assign experiences = site.data.experience[lang] %}
{% assign skills = site.data.skills[lang] %}
{% assign publications = site.data.publications[lang] %}
{% assign projects = site.data.projects[lang] %}
{% assign about = site.data.about[lang] %}

<footer class="footer">
    <div class="text-center">

        {% if about %}
            <a href="#about">About</a> |
        {% endif %}
        
        {% if skills %}
            <a href="#skills">Skills</a> |
        {% endif %}
        
        {% if experiences %}
            <a href="#experiences">Experiences</a>
        {% endif %}
        
        {% if projects %}
            <a href="#projects">Projects</a>
        {% endif %}
        
        <small class="copyright">{{ site.data.footer }}</small>

    </div><!--//container-->
</footer><!--//footer-->
