{% assign experiences = site.data.experience[site.env.LANG] %}
{% assign skills = site.data.skills[site.env.LANG] %}
{% assign publications = site.data.publications[site.env.LANG] %}
{% assign projects = site.data.projects[site.env.LANG] %}
{% assign about = site.data.about[site.env.LANG] %}

<footer class="footer">
    <div class="text-center">

        {% if about %}
            <a href="#about">About</a> |
        {% endif %}
        
        {% if skills %}
            <a href="#skills">Skills</a> |
        {% endif %}
        
        {% if experiences %}
            <a href="#experiences">Experiences</a>
        {% endif %}
        
        {% if projects %}
            <a href="#projects">Projects</a>
        {% endif %}
        
        <small class="copyright">{{ site.data.footer }}</small>

    </div><!--//container-->
</footer><!--//footer-->
