{% assign lang = page.lang | default: site.language %}
{% assign skills = site.data.skills[lang] %}

{% if skills %}
<section class="section">

  <h2>
    {{ skills.title }}
  </h2>

  <div class="skills-section">

    {% for category in skills.categories %}
    <div class="skillset">
      
      <b>{{ category.name }}</b>

      <ul>
      {% for skill in category.toolset %}
        <li><span style="font-size:11px">{{skill.level}}</span> {{ skill.name }}</li>
      {% endfor %}
      </ul>

    </div>
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}