{% assign sidebar = site.data.sidebar[site.env.LANG] %}

<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
      <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
      <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
      <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include sidebar/contact.html %}

  {% include sidebar/language.html %}

  {% include sidebar/education.html %}

  {% include sidebar/interests.html %}

  {% include sidebar/sections.html %}



</div><!--//sidebar-wrapper-->
