{% assign skills = site.data.skills[site.env.LANG] %}

{% if skills %}
<a name="skills"></a>
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  {% for category in skills.categories %}
  <a name="skill{{forloop.index}}"></a>
  <div class="skillset">
    
    <h3 class="category-title">{{ category.name }}</h3>

    {% for skill in category.toolset %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>
      <!--
      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}"></div>
      </div>
      -->
      <!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>
  {% endfor %}

</section><!--//skills-section-->
{% endif %}
