@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    .section > h2 {
       break-after: avoid-page;
       page-break-after: avoid;
    }

    .item {
       break-inside: avoid-page;
       page-break-inside: avoid;
    }

    .projects-section .project-logo {
       width: 40px;
       height: 40px;
       flex-basis: 40px;
       border-radius: 8px;
    }

    p,
    li {
       orphans: 3;
       widows: 3;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact; 
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
