---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{ page.lang | default: site.language }}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ page.lang | default: site.language }}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ page.lang | default: site.language }}"> <!--<![endif]-->
{% include head.html %}

<body class="portfolio-page">

  <div class="wrapper">
    {% include sidebar.html %}
    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>
